mixin discountsItem(props)
    a.discounts-item.swiper-slide(href='#')
        if discounts.picture
            picture
                source(srcset='img/discounts/' + props.img + '.png' media="(min-width: 720px)")
                img.discounts-item-img(src='img/discounts/' + props.img + '-m.png')
        else
            img.discounts-item-img(src='img/discounts/' + props.img + '.png')
        h6.discounts-item-title!= props.title
        .discounts-item-text!= props.text
        if props.btn
            .discounts-item-btn
                .btn.btn-white
                    span!= props.btn

section.discounts
    .container
        if discounts.title
            h2.discounts-title!= discounts.title
        if discounts.text
            p.discounts-description!= discounts.text

        .discounts-slider.swiper
            .swiper-wrapper
                for item in discounts.list
                  +discountsItem(item)
