section.subscription
    .subscription-bg
        img(src='img/subscription/bg.svg')
    .subscription-phone
        img.phone._anim-items._anim-top(src='img/subscription/phone.png')
        .subscription-phone-message._anim-items
            img.msg-1.active(src='img/subscription/m-1.png' alt='')
            img.msg-2(src='img/subscription/m-2.png' alt='')
            img.msg-3(src='img/subscription/m-3.png' alt='')
    .container
        .subscription-form
            form.page-form(action='#')
                .page-form-send
                    h2.subscription-title Подписка на нашу новостную рассылку
                    p.subscription-text Узнавайте о выгодных акциях первыми, участвуйте в розыгрышах призов и будьте в курсе технических работ
                    .input-parent
                        .subscription-inputs
                            .subscription-select
                                .subscription-select-header.f.f-ac
                                    span Телефон
                                    +svg('sprite.svg#select')
                                .subscription-select-body
                                    .subscription-select-item.active(
                                        data-type='tel'
                                        data-name='tel'
                                        data-placeholder='Введите номер'
                                        data-error='Некорректно введён номер'
                                        data-required='validatePhone')
                                        span Телефон
                                    .subscription-select-item(
                                        data-type='email'
                                        data-name='mail'
                                        data-placeholder='Введите e-mail'
                                        data-error='Некорректно введён e-mail'
                                        data-required='validateEmail')
                                        span E-mail

                            .subscription-input
                                input(type='tel' name='tel' placeholder='Введите номер' data-required='validatePhone')

                                button.btn.btn-green(type='submit')
                                    span Подписаться

                        .subscription-input-error Некорректно введён телефон

                    .subscription-politic
                        label.input-check.input-check-required
                            input(type='checkbox' name='politic' checked)
                            span.f
                                .input-check-box.circle
                                .input-check-text Согласен с условиями пользовательского соглашения и принимаю его


                .page-form-ok
                    h2.subscription-title.big Новостная рассылка подключена!
                    p.subscription-text Теперь вы не пропустите ни одной важной новости
