mixin svg(icon)
    svg(class!=attributes.class, viewBox!=attributes.viewBox, width!=attributes.width, height!=attributes.height, style!=attributes.style)
        use(xlink:href= icon)

mixin tariffsItem(props, link)
    .tariffs-item.swiper-slide(class=[{'tariffs-item_discount': props.oldPrice}])
        if props.oldPrice
            .tariffs-item-tag
                +svg('sprite.svg#tag')
        h6.tariffs-item-title!= props.title
        p.tariffs-item-text!= props.text
        if props.speed
            .tariffs-item-speed.f.f-ac
                .tariffs-item-icon
                    +svg('sprite.svg#speed')
                span!= props.speed
                    |  
                    small Мбит/сек
        if props.tv
            .tariffs-item-tv.f.f-ac
                .tariffs-item-icon
                    +svg('sprite.svg#tv')
                span!= props.tv
                    |  
                    small ТВ-каналов

        if props.add
            .tariffs-item-add
                .tariffs-item-add-title Дополнительно:
                for i in props.add
                    .tariffs-item-add-item
                        label.input-check
                            input(type='checkbox' name= i.name)
                            span.f
                                .input-check-box.circle
                                .input-check-text!= i.text

        .tariffs-item-price.f.f-js
            .tariffs-item-value!= props.price
                small  ₽/мес
            if props.oldPrice
                .tariffs-item-old!= props.oldPrice
                    small  ₽/мес

        .tariffs-item-btn
            .btn(class=[props.oldPrice ? 'btn-orange' : 'btn-green'])
                span!= props.btn
        if !link
            .tariffs-item-link.f.f-jc
                a(href='#') Подробнее о тарифе

mixin newsItem(props)
    a.news-item(href='#')
        .news-item-img
            img(src='img/news/' + props.img + '.png' alt= props.name)
        .news-item-name!= props.name
        .news-item-date!= props.date
